# Local/generated folders
.venv/
archive/*
!archive/experiments/
!archive/experiments/*.py
files/
models/
runs/

# Documentation
*.md
!README.md
!docs/
!docs/**/*.md
!reference/
!reference/**/*.tex

# Python/cache files
__pycache__/
.pytest_cache/
.ruff_cache/
.mypy_cache/
.ipynb_checkpoints/
cache/
mfc.egg-info/
build/
dist/
*.pyc
*.npy
*.npz

# Latex files
*.aux
*.bbl
*.bcf
*.blg
*.log
*.out
*.toc
*.synctex.gz
*.nav
*.snm
*.fls
*.fdb_latexmk
*.run.xml
*.xsim
*/output/
